plugins {
  id 'nf-datomic@0.0.1'
}

// prepare datomic

// 1.- run a transactor:
//    bin/transactor -Ddatomic.printConnectionInfo=true config/dev-transactor-template.properties

// 2.- create database
//    bin/shell
//    Peer.createDatabase("datomic:dev://localhost:4334/nextflow");

// 3.- run a peerServer
//    bin/run -m datomic.peer-server -h localhost -p 8998 -a admin,thepwd -d nextflow,datomic:dev://localhost:4334/nextflow

// 4.- run nextflow

datomic{
    enabled = true
    system = 'peer-server'
    database =  'nextflow'

    devLocal{
        storage = '.data'
    }

    peerServer{
        accessKey='admin'
        secret = 'thepwd'
        uri = 'localhost:8998'
    }
}